* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgb(21, 106, 163), rgb(74, 226, 206), rgb(74, 226, 206), rgb(21, 106, 163));
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
    /* background-color: rgb(30, 140, 190); */
}

#logo-container {
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Signika Negative', sans-serif;
    width: 100%;
    /* background-color: rgb(57, 185, 218); */
    

}

#logo-container>h1 {
    color: rgb(245, 123, 9);
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 15px;

}

#logo {
    display: block;
    width: 70px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#search-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: rgb(23, 128, 177); */
}

#search-input {
    width: 400px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 40px;
    padding: 20px;
    font-size: 1.4rem;
    background-color: #fff;
    color: #000;
    text-align: center;
}

#menu-container{
    margin: 0 auto;
    /* background-color: rgb(29, 124, 169); */
    width: 100%;
    height: 50px;
    color: #fff;
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    justify-content: center;

}
.menu-item{

    cursor: pointer;
    border-bottom: 1px solid #fff;

}
.menu-link{
    padding: 10px 20px;
}
.menu-item:hover{
    background-color: rgb(29, 124, 169);
}
#menu{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    
}
#memorized-cities {
    /* width: 100vw; */
    height: 500px; 
}

#autocomplete-container {
    top: 65px;
    margin-top: 0px;
    width: 400px;
    height: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 30px;
}

#places {
    margin-top: 1px;
    top: 0;
    position: absolute;
    height: auto;
    width: 100%;
    list-style-type: none;
    border-radius: 30px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    
}

.cities-item {
    font-size: 1.2rem;
    padding: 10px;
    cursor: pointer;
    height: 100%;
}

.cities-item:hover {
    background-color: rgb(29, 141, 216);
    color: #fff;
}


main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}
.display-weather{
    margin-top: 50px;
    display: none;
    border-radius: 80px;
    height: auto;
    width: 800px;
    padding: 30px;
    font-family: 'Signika Negative', sans-serif;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 15px 0px rgb(151, 151, 151);
}
#current {
    
    height: auto;
    background-color: rgb(253, 253, 253); 
    display: flex;
    flex-direction: column;
}

#current-weather-location {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    color: #1D7CA9;
}

#weather-icon-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#weather-icon {
    width: 180px;
    margin-top: 30px;
    margin-left: 10px;
}

#weather-desc {
    font-size: 1.6rem;
    color: #1D7CA9;
    margin-left: 15px;
}

#current-weather-info {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-weight: normal;
}

/* .weather-data{
    color: #000;
} */
#weather-location{
    color: rgb(245, 123, 9)
}
#current-weather-info {
    
    flex-direction: row;
    flex-wrap: wrap;
}

.weather-info {
    color: #1D7CA9;
    font-size: 1.1rem;
    width: 45%;
    margin: 2%;
    border-bottom: 1px solid rgb(173, 173, 173);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.sun-circle-icon {
    width: 150px;
    display: none;
}

#sunrise-sunset-container {
    display: flex;
    flex-direction: row;
}

#sunset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sunrise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#weekly{
    color: rgb(245, 123, 9);
    flex-direction: column;
    align-items: center;
}

#weekly>h2{
    align-self: flex-start;
    
    font-size: 2rem;
}

.daily-box{
    width: 100%;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(173, 173, 173);
    color: #1D7CA9;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.weather-day{
    width: 20%;
    color : rgb(245, 123, 9);
}
.weather-description{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}
.little-weather-icon{
    width: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.weather-temp{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#hourly{
    
    flex-direction: column;
}
#hourly>h2{
    color : rgb(245, 123, 9);
    margin-bottom: 30px;
    font-size: 2rem;
}
.hourly-weather-box{
    border-bottom: 1px solid rgb(173, 173, 173);
    display: flex;
    flex-direction: row;
    color: rgb(29, 124, 169);
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}

.hourly-weather-date{
   width: auto; 
   color: rgb(245, 123, 9);
}
.hourly-weather-description{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.hourly-weather-temp{ 
    text-align: right;
}




@media screen and (max-width:860px){
 .display-weather{
     width: 85%;
 }
}

@media screen and (max-width:700px){

   

}


@media screen and (max-width:700px){
    #weather-icon-container{
        flex-direction: column;
    }
    #current-weather-info{
        flex-direction: column;
    }
    .weather-info{
        width: 100%;
    }
    .daily-box{
        flex-wrap: wrap;
        width: 100%;
        margin: 10px 0px;
       
    } 
    .weather-day{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .weather-description{
        width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
    }
    .weather-temp{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    .little-weather-icon{
        width: 80px;
    }

    .hourly-weather-box{
        flex-direction: column;
    }
    .hourly-weather-date{
        margin-bottom: 10px;
    }
    .hourly-weather-description{
        align-items: center;
        width: 100%;
    }
    .hourly-weather-temp{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-left: 30px;
        margin-bottom: 10px;
    }
}
